body{
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100%; 
  max-height: 100%; 
}
.body-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.overscroll-size > div {
  flex: 1;
  height: 300px;
}
.main-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 700px;
  padding: 30px 30px 15px;
  background: white;
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.add-input,
.list-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-input input {
  height: 50px;
  width: 70%;
}
.add-input input::placeholder {
  text-align: center;
  height: 50px;
  font-weight: bold;
  color: rgb(221, 224, 226);
  font-size: large;
  font-style: italic;
}
.add-button {
  border: 0px solid white;
  width: 8%;
  height: 55px;
  margin-left: 10px;
  cursor: pointer;
}
.icon-add {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px !important ;
  font-weight: bold;
}
.contents {
  overflow: auto;
  margin-top: 20px;
}
.list-content :hover {
  background-color: #f0f9ff;
}
.list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid gray;
  height: 50px;
  width: 100%;
}
.list-item {
  input[type="checkbox"] {
    zoom: 1.5;
  }
  input[type="text"] {
    zoom: 1.1;
  }
  input[type="text"]:hover {
    background-color: white;
  }
}
.list-icon button{
  border: 0px solid white;
  background-color: white;
}
.list-icon i {
  color: gray;
}
.list-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-icon .fa-solid:hover {
  cursor: pointer;
  color: #2596be;
}
.contents input {
  background-color: white;
  border: 0px solid white;
}
.contents input:focus {
  outline: none;
}

.actions{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}
.remove-button{
  border-top: 1px solid gray;
  border: 1px solid gray;
  padding: 8px;
  color: white;
  font-weight: bold;
  height: 100%;
  background-color: rgb(73,156,193);
  cursor: pointer;
  text-transform: uppercase;
}
.progress {
  height: 100%;
  background-color: #96e34a;
}
.task-done {
  height: 30px; 
  width: 250px;
  border: 1px solid black;
  display: flex;
  align-items: center; 
  position: relative;
}
.count-complete{
  position: absolute;
  left: 25%;
  font-size: 15px;
  color: gray;
}
.count-complete p span{
  font-size: 20px;
  color: gray;
}
